config_file = "config-kube-cluster.yml"

parameters = {
  region_name  = "__REPLACE_OUTSCALE_REGION__"
  prefix_name  = "dev"
  keypair_name = "default-outscale"

  ansible_git_url  = "https://github.com/pli01/k3s-terraform-ansible"
  ansible_pull_args = "k3s-ansible/local.yml -i k3s-ansible/inventory/local -C main -v"

  bastion_count          = 1
  k3s_masters_init_count = 1
  k3s_masters_add_count  = 2
  k3s_workers_count      = 2

  #
  IP_ALLOW                 = "0.0.0.0/0"
  K3S_TOKEN = "__REPLACE_TOKEN__"
  DOCKER_LOGIN = ""
  DOCKER_TOKEN = ""
  PORTAINER_ADMIN_PASSWORD = "__REPLACE_THIS_WITH_BCRYPT_HASH__"

  # heredoc multiline string use <<EOF
  #  ssh_authorized_keys         = <<EOF
  #    [
  #    "ssh-rsa AAAAB3NXXXXXXX== user1@host1",
  #    "ssh-ed25519 AAAAC3YYYYYYYY  user2@host2"
  #    ]
  #  EOF
}
